html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

* {
  box-sizing: border-box;
}

.calendarBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  margin: 0 auto 24px;
}

table {
  margin: 0 auto;
  border-spacing: 0;
}

th span {
  display: block;
}

th {
  width: 34px;
  height: 64px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
}

th:last-child {
  border-right: 1px solid #d7d7d7;
}

.calendar__date {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.calendar__day {
  font-weight: 600;
}

.dayOff {
  background: #f0f0f0;
}
